<h1><%= @aula.titulo %></h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @aula.video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<% if @aula.liberada %>
  <p>Aula disponível!</p>
  <% if @next_aula %>
    <%= button_to "Liberar próxima aula", curso_aula_path(@curso, @next_aula), method: :patch %>
  <% end %>
<% else %>
  <p>Aula bloqueada.</p>
<% end %>
