
<main class="px-4 sm:px-8 py-12">
    <!-- Seção 1 -->
    <section class="flex flex-col lg:flex-row items-stretch justify-evenly gap-12">
      <div style="background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255, 255, 255, 0) 100%);" class="max-w-lg w-full flex flex-col md:justify-center items-center p-6 rounded-2xl backdrop-blur-xl border border-white/10 shadow-2xl ">
        <h2 class="text-4xl font-bold leading-tight text-center">
          Juntos vamos transformar 
          <span class="text-[#9732D4] underline decoration-dotted decoration-[#9732D4]">códigos</span> 
          em 
          <span class="text-[#84CC16] underline decoration-dotted decoration-[#84CC16]">conquistas</span>!
        </h2>
        <p class="text-lg text-gray-300 mt-4 text-center">
          Empoderando novos desenvolvedores e ensinando-os a trilharem seu caminho no mundo da programação
        </p>
        <div class="pt-6">
          <%= link_to new_user_session_path, class: 'relative inline-block px-12 py-3 text-base font-bold text-white tracking-widest rounded-full overflow-hidden bg-[#18A2BD] hover:text-white group' do %>
            <span class="absolute inset-0 w-0 h-full bg-[#9732D4] transition-all duration-300 ease-out rounded-full group-hover:w-full"></span>
            <span class="relative z-10">Bora Começar!</span>
          <% end %>
        </div>
      </div>

      <div class="w-full max-w-md h-72 sm:h-80 md:h-96 flex items-center justify-center">
        <svg width="786.82" height="572.26" viewBox="0 0 786.82 572.26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <%= image_tag("supHome.svg") %>
        </svg>
      </div>
    </section>

    <!-- Seção 2 -->
    <section class="my-16 flex flex-col-reverse lg:flex-row items-center justify-evenly gap-12">
      <div class="w-full max-w-md h-72 sm:h-80 md:h-96 flex items-center justify-center my-16">
        <svg width="666" height="563" viewBox="0 0 666 563" fill="none" xmlns="http://www.w3.org/2000/svg">
          <%= image_tag("infHome.svg") %>
        </svg>
      </div>

      <div style="background: linear-gradient(135deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.05) 100%);" 
          class="max-w-lg w-full text-center lg:text-left flex flex-col items-center lg:items-start p-8 rounded-3xl backdrop-blur-xl bg-white/20 border border-white/20 shadow-[0_8px_32px_rgba(0,0,0,0.18)] hover:shadow-[0_8px_32px_rgba(151,50,212,0.25)] transition-all duration-500">
          
          <h3 class="text-3xl md:text-4xl font-bold bg-clip-text">
             <span class="text-[#9732D4] underline decoration-dotted decoration-[#9732D4]">Encontre-se</span>  
             na área de
             <span class="text-[#84CC16] underline decoration-dotted decoration-[#84CC16]">TI</span>!
          </h3>
          
          <p class="text-lg text-white/80 mt-4 mb-6">
              Faça o nosso teste vocacional, descubra a sua área e dê um play em sua carreira
          </p>
          
          <button class="group relative flex items-center justify-center mx-auto w-16 h-16 md:w-20 md:h-20 rounded-full bg-white/90 hover:bg-white transition-all duration-300 shadow-lg hover:shadow-xl hover:scale-105">
              <div class="absolute inset-0 rounded-full opacity-0 group-hover:opacity-100 blur-md transition-all duration-300"></div>
              
              <svg class="w-8 h-8 md:w-10 md:h-10 transition-all duration-300 fill-[#18A2BD] group-hover:fill-[#9732D4] group-hover:scale-110" 
                  aria-hidden="true" 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 10 16">
                  <path d="M3.414 1A2 2 0 0 0 0 2.414v11.172A2 2 0 0 0 3.414 15L9 9.414a2 2 0 0 0 0-2.828L3.414 1Z"/>
              </svg>
              
              <span class="sr-only">Começar Teste</span>
          </button>
          
          <div class="mt-4 text-sm text-white/60 mx-auto">Clique para iniciar</div>
      </div>
    </section>
</main>

<%= render "shared/particles" %>