#particles-js {
    position: fixed;
    inset: 0;
    z-index: -10; /* Garante que fique no fundo */
    opacity: 0.4; /* Mantém a opacidade do seu exemplo */
    pointer-events: none; /* Impede que as partículas interfiram com cliques */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}