<div class="email-wrapper">
  <div class="email-content">
    <div class="header">
      <h1>Senha atualizada com sucesso</h1>
    </div>
    <div class="content">
      <p>Olá, <strong><%= @user.username %></strong>,</p>

      <p>Estamos entrando em contato para informar que sua senha foi alterada com sucesso em nossa plataforma.</p>

      <p>Se você não realizou essa alteração, recomendamos que redefina sua senha imediatamente e entre em contato com o suporte.</p>
    </div>
    <div class="footer">
      © <%= Time.now.year %> Rookie Coder Network. Todos os direitos reservados.
    </div>
  </div>
</div>
