<div class="email-wrapper">
  <div class="email-content">
    <div class="header">
      <h1>Redefinição de senha</h1>
    </div>
    <div class="content">
      <p>Olá, <strong><%= @resource.username %></strong>,</p>

      <p>Recebemos uma solicitação para alterar sua senha. Você pode redefini-la clicando no botão abaixo:</p>

      <p style="text-align: center;">
        <%= link_to 'Redefinir minha senha', edit_password_url(@resource, reset_password_token: @token), class: 'button' %>
      </p>

      <p>Se você não solicitou essa alteração, pode ignorar este e-mail. Sua senha permanecerá a mesma até que você acesse o link acima e defina uma nova senha.</p>
    </div>
    <div class="footer">
      © <%= Time.now.year %> Rookie Coder Network. Todos os direitos reservados.
    </div>
  </div>
</div>
